#image1{
    width: 100px;
}
.topbar{
    text-align: center;
    background-color: darkslateblue;
    padding: 2%;
    color: white;
}
#india-flag{
    width: 30px;
}
p{
    font-family: cursive;
    font-size: 26px;
    font-weight: bold;
    text-align: left;
    padding: 7%;
}

.bottom{
    text-align: center;
}