.logoimage{
    width: 50px;
}
.firstrow{
    background-color: black;
    color: white;
    text-align: center;
    padding: 12% 9%;
    font-family: 'Ubuntu', sans-serif;
}
.navbar-brand{
    color: white;
}
#sign-in-button{
    border: 2px solid grey;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    margin-left: 20px;
    text-align: center;
}
#alert{
    color: red;
}
.secondrow{
    background-color: rgb(4, 10, 90);
    color: rgb(247, 0, 0);
    padding: 7% 10%;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    line-height: 1.5;
}
#image2{
    width: 256px;
}
#message2{
    color: rgb(195, 255, 106);
}

.thirdrow{
    background-color: black;
    color: white;
    text-align: center;
    
    font-family: 'Ubuntu', sans-serif;
}
.carousel-item{
    padding: 7% 7%;
}
.shield-image{
    width: 256px;
    padding: 20px;
}
.thirdrowitems{
    padding-top: 60px;
    padding: 5%;
}

#pricing{
    text-align: center;
    padding: 9% 9%;
    background-color: rgb(4, 10, 90);
    color: white;
}
.card{
    color: crimson;
    font-weight: bold;
}

.download-section{
    background-color: black;
    color: white;
    text-align: center;
    padding: 9% 9%;
    font-family: 'Ubuntu', sans-serif;
    line-height: 3.5;
}

.download-button{
    margin: 5% 3% 5% 0;
}

.footer-panel{
    text-align: center;
    background-color: black;
    color: white;
    padding: 1%;
    line-height: 1.5;
}
.follow-icons i{
    margin: 20px;
}
.copyright-text{
    margin: 0px;
    padding: 20px;
}

@media (max-width: 480px){
    .title-image{
        position: static;
        width: 256px;
    }
    .pricing-column{
        margin-bottom: 30px;
    }
}

@media (min-width: 1024px){
    .title-image{
        position: static;
        width: 400px;
    }
    .pricing-column{
        margin-bottom: 30px;
    }
}

.bottom{
    text-align: center;
    background-color: black;
    padding: 10px;
    color: white;
}

#india-flag{
    width: 30px;
}
